---
sudo: required
services:
  - docker
language: python

python:
  - "2.7"
env:
  - ANSIBLE="2.2"
  - ANSIBLE="2.3"
  - ANSIBLE="2.4"
  - ANSIBLE="2.5"
install: pip install tox-travis
script: tox

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
