ansible-lint==4.3.7
molecule==3.1.5
molecule-docker==0.3.3
# needed in this case because we run tests with docker containers:
docker==4.4.0
# molecule does not depend explicitly on testinfra anymore:
testinfra>=3.0.4
